<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Polar Line">

    <title>Polar Line | Home</title>
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'home/css/polarline.css' %}">
    {% if request.get_full_path == "/" %}
    <link rel="stylesheet" href="{% static 'home/css/polarline-home.css' %}">
    {% endif %}
    {% if request.get_full_path == "/cart/" %}
    <link rel="stylesheet" href="{% static 'cart/css/polarline-cart.css' %}">
    {% endif %}
    {% if request.get_full_path == "/shop/" %}
    <link rel="stylesheet" href="{% static 'shop/css/polarline-shop.css' %}">
    {% endif %}

    <!-- Plugins Stylesheets -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

    <!-- Other Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- BootStrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'home/js/polarline.js' %}"></script>
    <script src="{% static 'home/js/polarline-home.js' %}"></script>
    <script src="{% static 'cart/js/polarline-cart.js' %}"></script>
    <script src="{% static 'shop/js/polarline-shop.js' %}"></script>

</head>
<body>
    <div id="polarline-head" class="d-flex justify-content-center">
        <a href="{% url 'home' %}" class="d-flex align-items-center">
            <span class="logo-polar">polar</span>
            <span class="logo-line">line.</span>
        </a>
    </div>
    <nav>
        <div class="filler"></div>
        <div class="nav-links-grp">
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li id="navShop">
                    <a href="{% url 'shop' %}">SHOP</a>
                    <div class="drop-menu">
                        <div class="sub-menu">
                            <a href="{% url 'shop' %}">Women</a>
                            <ul class="inner-drop-menu">
                                <li><a href="{% url 'shop' %}">Tops</a></li>
                                <li><a href="{% url 'shop' %}">Bottoms</a></li>
                                <li><a href="{% url 'shop' %}">Hats</a></li>
                                <li><a href="{% url 'shop' %}">Socks</a></li>
                            </ul>
                        </div>
                        <div class="sub-menu">
                            <a href="{% url 'shop' %}">Men</a>
                            <ul class="inner-drop-menu">
                                <li><a href="{% url 'shop' %}">Tops</a></li>
                                <li><a href="{% url 'shop' %}">Bottoms</a></li>
                                <li><a href="{% url 'shop' %}">Hats</a></li>
                                <li><a href="{% url 'shop' %}">Socks</a></li>
                            </ul>
                        </div>
                        <div class="sub-menu">
                            <a href="{% url 'shop' %}">Kids</a>
                            <ul class="inner-drop-menu">
                                <li><a href="{% url 'shop' %}">Tops</a></li>
                                <li><a href="{% url 'shop' %}">Bottoms</a></li>
                                <li><a href="{% url 'shop' %}">Hats</a></li>
                                <li><a href="{% url 'shop' %}">Socks</a></li>
                            </ul>
                        </div>
                        <div class="sub-menu">
                            <a href="{% url 'shop' %}">Sale</a>
                            <ul class="inner-drop-menu">
                                <li><a href="{% url 'shop' %}">New Sale Items</a></li>
                                <li><a href="{% url 'shop' %}">2 for $20</a></li>
                                <li><a href="{% url 'shop' %}">Clearance</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="{% url 'contactus' %}">CONTACT US</a></li>
            </ul>
        </div>
        <div id="nav-icons">
            <ul class="nav-icons-grp">
                <li><a href="#"><img src="{% static '/home/images/search.png' %}" alt="Search" height="35"></a></li>
                <li id="navShopBag"><a href="{% url 'cart' %}"><img src="{% static '/home/images/shop-bag.png' %}" alt="Shop Bag" height="35"></a></li>
                <li id="navAccount" class="dropdown">
                    <a class="navAccountLink" href="{% if user.is_authenticated %}{% url 'account' %}{% else %}{% url 'login_user' %}{% endif %}"><img src="{% static 'home/images/account.png' %}" alt="Account" height="35"></a>
                    <ul class="dropdown-menu nav-account-d-menu">
                        <li><a class="dropdown-item navAccountLink"
                               href="{% if user.is_authenticated %}{% url 'account' %}{% else %}{% url 'login_user' %}{% endif %}">
                            <b><span id="navAccountName">
                                {% if user.is_authenticated %}{{ user.first_name }}{% else %}Sign in/Register{% endif %}
                            </span></b></a>
                        </li>
                        <li><a class="dropdown-item" href="#">My Orders</a></li>
                        <li><a class="dropdown-item" href="#">My Coupons</a></li>
                        <li><a class="dropdown-item" href="#">My Points</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown-item w-auto" style="padding-left: 0.75em;">
                        <form method="POST" action="{% url 'logout_user' %}">
                        {% csrf_token %}
                         <button type="submit" class="px-0 dropdown-item w-auto">Sign Out</button>
                        </form>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <footer class="d-flex">
        <div class="container">
            <div class="row p-5">
              <div class="col-4">
                <div id="footer-logo">
                    <span class="logo-polar">polar</span><span class="logo-line">line.</span>
                </div>
                <div id="footer-about-us">
                    Beyond helping you look your best, PolarLine strives to get you the perfect clothing you've been looking for
                    from local and international brands. We at PolarLine want to give you the perfect wardrobe you've been looking
                    for. Be fashionable even in winter.
                </div>
                <div id="footer-find-us">FIND US ON</div>
                <div id="footer-social-media">
                    <img src="{% static '/home/images/facebook.png' %}" alt="Facebook Icon" height="35">
                    <img src="{% static '/home/images/pinterest.png' %}" alt="Pinterest Icon" height="35">
                    <img src="{% static '/home/images/instagram.png' %}" alt="Instagram Icon" height="35">
                </div>
              </div>
              <div class="col footer-col-2">
                <div class="footer-col-header">EXPLORE</div>
                <div>About us</div>
                <div>FAQS</div>
                <div>Privacy Policy</div>
                <div>Returns Policy</div>
              </div>
              <div class="col-4 p-2">
                <div class="footer-col-header">NEW TO POLARLINE?</div>
                <div id="footer-voucher"><b>Get a $50 VOUCHER</b> (plus the latest fashion news and products launches)
                    just by subscribing to our newsletter.</div>
                <form class="footer-form">
                    <input type="email" placeholder="Email Address"><br>
                    <button type="submit">SUBSCRIBE</button>
                </form>
                </div>
            </div>
          </div>
    </footer>
</body>
</html>