{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load mathfilters %}
    <main>
        <div class="container py-4">
            <div class="row">
                <div class="col-7 p-0">
                    <div class="row p-4" style="width: 90%">
                        <div class="col fw-bolder" style="font-size: 25px;">My Cart</div>
                        <div class="col fw-bolder d-flex justify-content-end" style="font-size: 25px;">Items</div>
                    </div>
                     {% if cart.count > 0 %}
                    <div class="row p-0">
                        <div id="cartContainer" class="row pb-1 justify-content-center">
                            {% for item in cart %}
                            {% with product=item.productId %}
                            <div class="row pb-1 justify-content-center cartItem">
                                  <div class="card mb-2" style="width: 90%;">
                                      <div class="card-body">
                                          <div class="row d-flex">
                                                <form method="POST" action="{% url 'remove_item' item.id %}">
                                                {% csrf_token %}
                                                 <div class="row d-flex justify-content-end w-100">
                                                    <button type="submit" class="btn-close removeItem" aria-label="Close"></button>
                                                 </div>
                                            </form>
                                          </div>
                                          <div class="row">
                                              <div class="col"><img src="{{ item.productId.productImage.url }}" class="img-fluid img-thumbnail"></div>
                                              <div class="col d-flex align-items-center text-center fw-bolder">{{ product.productName }}</div>
                                              <div class="col d-flex align-items-center">
                                                  <div class="container">
                                                      <div class="row justify-content-center">Price</div>
                                                      <div class="row justify-content-center text-danger fw-bolder cartItemPrice">${{ product.productPrice }}</div>
                                                  </div>
                                              </div>
                                              <div class="col d-flex align-items-center">
                                                  <div class="container p-0">
                                                      <div class="row justify-content-center">Quantity</div>
                                                      <div class="row justify-content-center">
                                                          <div class="input-group justify-content-center text-center">
                                                              <form method="POST" action="{% url 'decrement_item' item.id %}">
                                                                  {% csrf_token %}
                                                                  <button class="cart-minus input-group-text">-</button>
                                                              </form>
                                                              <input class="form-control cartItemQuantity bg-white" type="number" value="{{ item.quantity }}" readonly>
                                                              <form method="POST" action="{% url 'increment_item' item.id %}">
                                                                  {% csrf_token %}
                                                                  <button class="cart-add input-group-text">+</button>
                                                              </form>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col d-flex align-items-center">
                                                  <div class="container">
                                                      <div class="row justify-content-center">Total</div>
                                                      <div class="cartSubTotal row justify-content-center text-danger fw-bolder">${{ product.productPrice|mul:item.quantity|floatformat:2 }}</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row p-0">
                        <div class="card mb-2" style="width: 90%;">
                            <div class="card-body">
                                <div class="row justify-content-center align-items-center" style="height: 403px;">
                                    <div class="row w-50">
                                        <img class="img-fluid" src="/static/cart/images/cart-empty.png" alt="" height="50px">
                                    </div>
                                    <div class="row justify-content-center fw-bolder" style="font-size: 20px;">You have no items in your shopping cart.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-5 p-0">
                    <div class="row p-4 fw-bolder justify-content-center" style="font-size: 25px;">Cart Summary</div>
                    <div class="row pb-4 justify-content-center">
                        <div class="card p-3" style="width: 90%;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col px-5">
                                        <div class="row">Sub Total</div>
                                        <div class="row">Tax</div>
                                        <div class="row">Shipping</div>
                                    </div>
                                    <div class="col">
                                        <div class="row" id="txtCartSubTotal">0.00</div>
                                        <div class="row">Calculated at checkout</div>
                                        <div class="row">Calculated at checkout</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row px-4">
                                    <div class="col fw-bolder">Total</div>
                                    <div class="col fw-bolder" id="txtCartTotal" style="
                                    padding-left: 4em;">0.00</div>
                                </div>
                                <div class="row p-4">Please click the checkout button to continue.</div>
                                <div class="row p-2">
                                    <button type="button" style="width: 90%;" class="btn btn-dark btn-lg btn-block">Checkout</button>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <img class="img-fluid img-thumbnail" style="height: 50px; border:none;" src="{% static '/cart/images/visa-logo.png' %}" alt="">
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid img-thumbnail" style="height: 50px; border:none;" src="{% static '/cart/images/mastercard-logo.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-dark btn-lg btn-block" style="width: 80%; border-radius: 0;">Update Cart</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-outline-dark btn-lg btn-block" style="border-radius: 0;">Continue Shopping</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
