{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div id="contacts">
            <div class="content">
                <img src="{% static 'contactus/images/location.png' %}" alt="Pin Icon" height="40">
                <span>265 Yorkland Boulevard North York, ON M2J 1S5, Canada</span>
            </div>
            <div class="content">
                <img src="{% static 'contactus/images/phone.png' %}" alt="Phone Icon" height="40">
                <span>+1 (416)474-2520</span>
            </div>
            <div class="content">
                <img src="{% static 'contactus/images/mail.png' %}" alt="Mail Icon" height="35">
                <span>info@kommicozy.com</span>
            </div>
        </div>
        <header><span>SEND US A MESSAGE</span></header>
        <form id="contactForm">
            <div class="form-group contactFormContent">
                <input id="user" type="text" class="form-control" id="txtContactName" placeholder="Name" required size="50">
                <p id="username" style="padding: 5px;color:red;">Enter your name</p>
            </div>
            <div class="form-group contactFormContent">
                <input type="email" id="email" class="form-control" id="txtContactEmail" placeholder="Email" pattern="[^ @]*@[^ @]*"
                required size="30">
                <p id="usermail" style="padding: 5px;color:red;">Enter email</p>
            </div>
            <div class="form-group contactFormContent">
                <input type="tel" class="form-control" id="txtContactNumber" placeholder="Number" required>
                <p id="phonemsg" style="padding: 5px;color:red;">Enter valid phone number</p>
            </div>
            <div class="form-group contactFormContent">
                <textarea class="form-control" id="txtContactMessage" rows="3" placeholder="Message" required></textarea>
                <p id="textMsg" style="padding: 5px;color:red;">Message should not be blank</p>
            </div>
            <div class="form-group contactFormContent">
                <button id="btnContactSubmit" class="btn btn-dark btn-lg w-100" type="submit">SUBMIT</button>
            </div>
          </form>
    </main>
{% endblock %}
