{% extends 'base.html' %}

{% block content %}
{% load static %}
<main>
    <div class="product-gallery">
        <div class="product-gallery-column1">
            <div id="imgDetailsGalleryCol1Image1"><img src="https://source.unsplash.com/1000x1500/?wool" height="150"/></div>
            <div id="imgDetailsGalleryCol1Image2"><img src="https://source.unsplash.com/1000x1500/?sweater" height="150"/></div>
            <div id="imgDetailsGalleryCol1Image3"><img src="https://source.unsplash.com/1000x1500/?jacket" height="150"/></div>
        </div>
        <div class="product-gallery-column2">
        <img src="{{ product.productImage.url }}" height="470"/>
        </div>
    </div>
    <div class="product-desc">
        <span id="productName">{{ product.productName }}</span><button class="like-button"></button><br>
        <span id="productCost">${{ product.productPrice }}</span> <br>
        <span id="productReview">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> 
            4.9 | Reviews  
        </span><br><br>
        <span id="productColor">COLOR  <br><button class="colorSelBlack" ></button></span><br><br>
        <span id="productSize">SIZE  &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Size Guide >></a><br>
            <div class="sizeSel">S</div>&nbsp;&nbsp;<div class="sizeSel">M</div>&nbsp;&nbsp;<div class="sizeSel">L</div>&nbsp;&nbsp;<div class="sizeSel">XL</div>
        </span><br>
        <span id="productAvailability">Availability : In Stock</span> <br><br>
        <form method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <button type="submit" id="btnDetailsAddToBag">ADD TO BAG</button>
        </form>
        
        <br>
        <p>
            <b>Product Description</b>
            <p class="product-description">
                Material : Polyester <br>
                Weight : 0.3100kg <br>
                Brand : Loren Ipsum <br>
                Long cuffed sleeve <br>
                2 side pockets <br>
                Front Zip Fastening
            </p>
        </p>
    </div>
</main>
{% endblock %}
