{% extends 'base.html' %}
{% block content %}
{% load static %}
    <main>
        <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-label">
                <div class="banner-area d-flex justify-content-center flex-column">
                    <div class="py-4">
                        <div class="banner-text">Don't be left out</div>
                        <div class="banner-text">in the cold</div>
                    </div>
                    <a id="btnHomeShopNow" class="btn-lg btn btn-black" href="{% url 'shop' %}">SHOP NOW</a>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item"><img class="d-block w-100" src="{% static '/home/images/banner-1.png' %}" alt="First slide"></div>
                <div class="carousel-item"><img class="d-block w-100" src="{% static '/home/images/banner-2.png' %}" alt="Second slide"></div>
                <div class="carousel-item active"><img class="d-block w-100" src="{% static '/home/images/banner-3.png' %}" alt="Third slide"></div>
            </div>
        </div>
        <section id="promotions">
            <div class="row m-5">
                <div class="col-md-12 p-0">
                    <div class="row m-3 img-promo-home">
                        <div class="col-md-7 p-0">
                            <a href="{% url 'shop' %}">
                                <div class="m-2 overflow-hidden d-flex align-items-center justify-content-center" style="height: 100%;">
                                    <div class="home-promo-label home-promo-label1 text-white">TRENDING NOW</div>
                                    <div class="promo-image img-1 w-100 h-100"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-5 p-0">
                            <a href="{% url 'shop' %}">
                                <div class="m-2 overflow-hidden" style="height: 100%;">
                                    <div class="home-promo-label p-3 text-white">
                                        UPTO<br><span class="fifty">50%</span><br>OFF
                                    </div>
                                    <div class="promo-image img-2 w-100 h-100"></div>
                                </div>
                            </a>
                        </div>
                    </div>
					<div class="row m-3 img-promo-home">
						<div class="col-md-12 p-0">
                            <a href="{% url 'shop' %}">
                                <div class="m-2 overflow-hidden d-flex align-items-center justify-content-center" style="height: 100%;">
                                    <div class="home-promo-label home-promo-label3 text-white">WINTER COLLECTION 2021</div>
                                    <div class="promo-image img-3 w-100 h-100"></div>
                                </div>
                            </a>
                        </div>
					</div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
