{% extends 'base.html' %}
{% block title %}PolarLine | Login{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="card shadow p-3 mb-5 bg-white rounded m-auto" style="max-width: 330px;">
        <div class="py-2 d-flex justify-content-center fw-bold" style="font-size: 20px;">LOGIN</div>
        <div class="card-body">
            <form method="POST" class="m-auto">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <div class="form-group p-2">
                    <div class="row ps-4">
                        <div class="p-0 col-3">
                            <div class="px-2 d-flex justify-content-end">{{ form.username.label }}</div>
                        </div>
                        <div class="p-0 col-9">
                            <div class="d-flex">{{ form.username }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group p-2">
                    <div class="row ps-4">
                        <div class="p-0 col-3">
                            <div class="px-2 d-flex justify-content-end">{{ form.password.label }}</div>
                        </div>
                        <div class="p-0 col-9">
                            <div class="d-flex">{{ form.password }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group py-3 ps-2">
                    <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-dark btn-block" type="submit">Login</button><br>
                    </div>
                </div>
                <span>Don't have an account? </span><a href="{% url 'signup_user' %}">Sign Up</a>
        </form>
      </div>
    </div>
</div>
{% endblock %}
