{% extends 'base.html' %}
{% block title %}PolarLine | Shop{% endblock %}
{% load static %}

{% block content %}
<main>
<div class="shop-banner">
    <img src="{% static '/home/images/promo-img3.png'%}"/>
    <div class="banner-text">WINTER COLLECTION 2021</div>
</div>
<div class="page-loc">
    <a href="index.html">HOME</a> >> WOMEN 
</div>
<div class="shop-sortBy">
    <select id="shopSortBy">
        <option>Sort By</option>
        <option>Price - Low to High</option>
        <option>Price - High to Low</option>
        <option>Discounts - Low to High</option>
        <option>Name - Alphabetical Order</option>
    </select>
</div>
<div class="shop-mainbody">
    <div class="shop-filters">
        <b>WOMEN'S</b> <br>
        <input type="checkbox" id="shopTops"/>Tops <br>
        <input type="checkbox" id="shopJackets"/>Jackets <br>
        <input type="checkbox" id="shopCoats"/>Coats <br>
        <input type="checkbox" id="shopBlazers"/>Blazers <br>
        <input type="checkbox" id="shopPants"/>Pants <br>
        <br>
        <b>FILTER BY</b> <br>
        <hr>
        <input type="checkbox" id="shopFilterCotton"/>Cotton <br>
        <input type="checkbox" id="shopFilterWool"/>Wool <br>
        <input type="checkbox" id="shopFilterDenim"/>Denim <br>
        <input type="checkbox" id="shopFilterKnit"/>Knit <br>
        <input type="checkbox" id="shopFilterLeather"/>Leather <br>
    </div>
    <div class="shop-products">
        {% for p in product  %}
        <a href=" {% url 'details' p.id %}">
        <div class="shop-product" data-aos="fade-up">
            <img src="{{ p.productImage.url }}" class="shop-product-image"/>
            <div class="shop-product-name">{{ p.productName }}</div>
            <div class="shop-product-cost">${{ p.productPrice }}</div>
        </div>
        </a>
        {% endfor %}

    </div>
</div>
</main>
{% endblock %}
