.banner-area {
    z-index: 20;
    padding-left: 2em !important;
    width: auto !important;
}

.banner-text {
    color: whitesmoke;
    font-weight: 400;
    font-size: 40px;
    line-height: 1em;
}

.carousel-inner {
    height: 350px;
}

#btnHomeShopNow {
    background-color: black;
    color: white;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    outline: none;
    width: 45%;
    border: 0;
}

#btnHomeShopNow:active {
    transform: translateY(1px);
}

#promotions {
    padding-bottom: 2em;
}

.img-promo-home {
    height: 500px;
}

.img-1{
    background: url('../images/promo-img1.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}
.img-2{
    background: url('../images/promo-img2.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}
.img-3{
    background: url('../images/promo-img3.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
}
.filter {
    filter: grayscale(30%) blur(3px);
    transform: scale(1.1);
    transition: all .2s ease-out;
}

.home-promo-label {
    z-index: 80;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1em;

}
.home-promo-label1 {
    letter-spacing: 3px;
}

.fifty {
    font-size: 45px;
}

.carousel-label {
    position: absolute;
    z-index: 10;
    color: white;
    top: 15%;
    left: 1%;
}

/* Media query for desktop layout */
@media only screen and (min-width: 1325px) {
    .carousel-label {
        top: 35%;
        left: 2%;
    }

    .banner-text {
        font-size: 70px;
    }

    #btnHomeShopNow {
        height: 45px;
        font-size: 30px;
    }

    .carousel-inner {
        height: 700px;
    }

    .home-promo-label {
        font-size: 60px;
    }

    .fifty {
        font-size: 85px;
    }
}