* {
    font-family: 'Roboto', sans-serif;
    box-sizing: unset !important;
}

/* Common Styles */
/* Styles for Mobile layout */
.logo-polar {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.logo-line {
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
}

#polarline-head {
    top: 0;
    display: flex;
    background-color: black;
    font-size: 35px;
    padding: 0.5em;
    letter-spacing: 3px;
}

#polarline-head a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.burger .line{
    display: block;
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

.burger{
    display: block;
}

.polarline-logo {
    width: 90%;
}

.burger-container {
    width: 10%;
}

.filler {
    display: none;
}

#nav-icons {
    display: none;
}

.nav-links-grp {
    display: block;
}

.nav-links{
    position: absolute;
    width: 100%;
    background-color: whitesmoke;
    top: 87px;
    text-align: center;
    z-index: 100;
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-links li{
    padding: 2em;

}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;
    padding-bottom: 2px;
}

.drop-menu{
    display: none;
}

.navAccountLinkMob {
    display: block;
}

footer {
    color: lightgray;
    background-color: black;
    width: 100%;
}

#footer-logo {
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
}

#footer-about-us {
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 2em;
}

.footer-find-us {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.footer-social-media img {
    padding: 1.5em 1em 0 0;
}

.footer-col-header {
    color: white;
    padding: 1.25em 0;
    font-size: 15px;
    font-weight: bold;
}

#footer-voucher {
    font-size: 15px;
    padding-bottom: 2em;
}

.footer-form input {
    background-color: white;
    border: none;
    height: 30px;
    margin-bottom: 1em;
    outline: none;
    width: 200px;
    padding-left: 10px;
    font-size: medium;
}

.footer-form button {
    background-color: black;
    border: 2px solid white; /* Green */
    color: white;
    cursor: pointer;
    height: 30px;
    font-size: medium;
    outline: none;
    transition: all 0.5s ease-in-out;
    width: 120px;
}

.explore {
    padding-left: 3rem;
}

.find-us-1 {
    display: none;
}

.new-to-polar{
    padding: 0 0.5em !important;
}




/* Style for the main */
/* Media query for Tablet layout */
@media only screen and (min-width: 769px) {

    #polarline-head {
        font-size: 35px;
    }

    /* Style for the body */
    body {
        background-color: whitesmoke;
        margin: 0;
        padding: 0;
    }

    .footer-col-2 {
        padding: 0.5em 0.5em 0.5em 7em !important;
    }

    .find-us-1 {
        display: block;
    }

    .find-us-2 {
        display: none;
    }

    .explore {
        padding-left: 0;
    }

}


/* Media query for desktop layout */
@media only screen and (min-width: 1000px) {

    .burger{
        display: none;
    }

    .navAccountLinkMob {
        display: none;
    }

    .polarline-logo {
        width: 100%;
    }

    .burger-container {
        width: 0%;
    }

    .filler {
        display: block;
        width: 18%;
    }

    #nav-icons {
        display: block;
        width: 18%;
    }

    .nav-links-grp {
        display: flex;
        width: 64%;
    }

    #nav-icons {
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
    }

    #nav-icons a {
        padding: 10px;
    }

    nav{
        background-color: white;
        color: black;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .nav-links{
        position: unset;
        width: 40%;
        background-color: white;
        top: unset;
        text-align: unset;
        z-index: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: auto;
        list-style: unset;
    }

    .nav-links li {
        padding: 0;
        display: block;
        margin: 30px 0;
    }

    .nav-links li a:before {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .nav-links li a:hover:before {
        width: 100%;
        left: 0;
    }

    .drop-menu{
        position: absolute;
        background-color: white;
        top: 160px;
        width: 100%;
        display: none;
        z-index: 100;
        left: 0;
        padding: 2em 0;
        margin: auto;
    }

    .nav-account-d-menu {
        top: 55px !important;
        border: none !important;
        left: -200% ;
    }

    .nav-icons-grp {
        list-style: none;
        display: flex;
        margin: 0;
    }

    .nav-icons-grp li a {
        width: auto;
    }

    .sub-menu {
        width: 25%;
        float: left;
        text-indent: 5em;
    }

    .inner-drop-menu {
        padding: 0;
    }

    .inner-drop-menu li a{
        font-size: small;
    }

    #footer-logo {
        font-size: 50px;
    }

    .footer-find-us {
        font-size: 20px;
    }

    .footer-col-header {
        font-size: 20px;
    }

    #footer-voucher {
        font-size: 20px;
    }

    .footer-form input {
        height: 45px;
        width: 300px;
    }

    .footer-form button {
        height: 45px;
        width: 200px;
    }

}

/* Media query for desktop layout */
@media only screen and (min-width: 1325px) {

    .filler {
        width: 15%;
    }

    .nav-links-grp {
        width: 70%;
    }

    #nav-icons {
        width: 15%;
    }
}