main {
    background-color: rgb(240, 240, 240);
}

.cart-promo {
    background-color: yellow;
    font-size: 30px;
    height: 80px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    max-width: 2rem;
}